
body { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-style: normal;
    background-color: white;
    padding-top: 100px;
    color: black
}

#post {
    border: solid 2.4px;
    padding: 10px;
    border-color: #DE0D92;
    background-color: #DE0D92;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #DE0D92;
    margin-top: 32px;
    color: white;
}

#comment {
    border: solid 2.4px;
    padding: 10px;
    border-color: #DE0D92;
    background-color: #f5f3f4;
    border-radius: 10px;
    opacity: 0.6;
    box-shadow: 4px 4px 4px #DE0D92;
    margin-top: 32px;
    margin-left: 32px;
    font-size: small;
    color: black;
}

.antispam { display:none;}
