
#post {
    border: solid 2.4px;
    padding: 10px;
    border-color: #DE0D92;
    background-color: #f5f3f4;
    border-radius: 10px;
    opacity: 0.6;
    box-shadow: 4px 4px 4px #DE0D92;
    margin-top: 32px;
}

.antispam { display:none;}
