
body { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-style: normal;
    background-color: white;
    padding-top: 100px;
    color: black
}

.post {
    border: solid 2.4px;
    padding: 10px;
    border-color: #DE0D92;
    background-color: #DE0D92;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #DE0D92;
    margin-top: 32px;
    color: white;
}

.post .title a {
    color: white;
    font-weight: 600;
    padding: 4px;
}

.post .author {
    text-decoration: wavy;
}

.comment {
    border: solid 3px;
    padding: 5px;
    padding-left: 10px;
    border-color: #DE0D92;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #DE0D92;
    margin-top: 8px;
    margin-left: 32px;
    font-size: small;
    color: black;
    background-color: #FDD8EF;
}

.comment .author {
        padding: 4px;
        padding-right: -6px;
        font-weight: bold;
        margin-left: -4px;
        text-decoration: underline;
}

.comment .message {
    padding-left: 10px;
}

.antispam { display:none;}
