
body { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-style: normal;
    background-color: white;
    padding-top: 100px;
    color: black
}

#post {
    border: solid 2.4px;
    padding: 10px;
    border-color: #DE0D92;
    background-color: #DE0D92;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #DE0D92;
    margin-top: 32px;
    color: white;
}

#comment {
    border: solid 3px;
    padding: 5px;
    padding-left: 10px;
    border-color: #710627;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #710627;
    margin-top: 8px;
    margin-left: 32px;
    font-size: small;
    color: black;
    background-color: #710627;
}

#comment .author {
        color: white;
        padding: 4px;
        padding-right: -6px;
        font-weight: bold;
        margin-left: -4px;
}

#comment .message {
    color: black;
    border-radius: 4px;
    padding-left: 4px;
    background-color: #f5f3f4;
}

.antispam { display:none;}
