#post {
    border-style: solid;
    border-width: 5px;
    margin: 16px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#post-content {
    display: flex;
    flex-direction: column;
  }

#name {
    font-size: medium;
    font-weight: 600;
}

#date {
    font-style: italic;
    margin-top: auto
}

#playerComments {
    float: left;
    margin-right: 5px;
    font-weight: 600;
}