#post {
    border-style: solid;
    border-width: 5px;
    margin: 16px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#name {
    font-size: medium;
    font-weight: 600;
}