
body { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-style: normal;
    background-color: white;
    padding-top: 100px;
    color: black
}

.custom-navbar-color {
    /* background-color: #880732; */
    background-color: #DE0D92;
}

.blue_text{
    color: #385CFA;
    font-weight: 600;
}

.post {
    border: solid 2.4px;
    padding: 10px;
    border-color: #DE0D92;
    background-color: #DE0D92;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #DE0D92;
    margin-top: 32px;
    color: white;
}

.topline {
    display: flex;
    align-items: center;
}

.post .title a {
    color: white;
    font-weight: 600;
    padding: 4px;
}

/* .post .title a:hover {
    font-weight: 1200;
} */

.post .message {
    margin-top: 8px;
}

.date {
    font-size: smaller;
    font-style: italic;
    margin-right: 6px;
    margin-left: auto;
}

.post .author {
    font-style: italic;
}

.post .delete {
    text-align: right;
}

.delete a {
    color: #880732;
    font-weight: 600;
    font-size: small;
    padding: 6px;
    border-radius: 10px;
}

.post .delete a:hover {
    color: white;
    border-color: white;
    border: solid 1px;
}

label {
    display: block;
    color: #DE0D92;
    font-weight: 600;
}

form {
    margin-top: 32px;
    margin-left: 100px;
}

input {
    border: 0px;
    box-shadow: inset 0px 6px 12px -1.6px #DE0D92;
    border-radius: 6px;
}

input[type="submit"] {
    background-color: #DE0D92;
    color: white;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
  }
  
  input[type="submit"]:hover {
    background-color: weight;
    border: solid 1px;
    border-color: #DE0D92;
  }
  

textarea {
    border-color: #DE0D92;
    border: 0px;
    box-shadow: inset 0px 6px 12px -1.6px #DE0D92;
    border-radius: 6px;
}

/* Comment Styles */
.commentline {
    display: flex;
    align-items: center;
    margin-left: 12px;
    clear: both;
    float: right;
}

.comment .comment-content {
    border: solid 3px;
    padding: 5px;
    padding-left: 10px;
    border-color: #DE0D92;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #DE0D92;
    margin-top: 8px;
    margin-left: 20px;
    font-size: small;
    color: black;
    background-color: #FDD8EF;
}

.comment .author {
        padding: 4px;
        padding-right: -6px;
        font-weight: bold;
        margin-left: -4px;
        text-decoration: underline;
}

.comment .message {
    padding-left: 10px;
}

/* Replies Styles */
.replyline {
    display: flex;
    align-items: center;
    clear: both;
}

.reply .reply-content {
    border: solid 2px;
    padding: 1px;
    padding-left: 10px;
    border-color: #4D6CFA;
    border-radius: 10px;
    box-shadow: -2px 3px 3px #4D6CFA;
    margin-top: 8px;
    font-size: small;
    color: black;
    background-color: #D7DFFE;
}

.reply .author {
        padding: 1px;
        font-weight: bold;
        text-decoration: underline;
}

.reply .message {
    padding-right: 10px;
}

.reply_icon {
    margin-left: 20px;
}

.like {
    margin-top: 10px;
}

.like_button {
    width: 36px; 
    height: 36px;
    background-color: white;
    border-radius: 50%; 
    border: 2px solid white;
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
    color: #4D6CFA;
    font-size: larger;
    float: left;
    margin-top: 8px;
    box-shadow: 6px 2px 6px white;
}

.like_button:hover {
    width: 40px; 
    height: 40px;
    box-shadow: 4px 2px 4px white;
}

.comment_counter {
    color: black;
    width: 26px; 
    height: 26px;
    background-color: white;
    border-radius: 50%; 
    border: 2px solid white;
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
    font-size: smaller;
    margin-top: 8px;
}

.reply a {
    display: flex;
    align-items: center;
    font-size: small;
    float: right;
}

table { margin-left: 60px;}
caption { font-weight: bold; }
th { font-weight: bold; background-color: #062DDB; color: white; padding: 2px; }
td { padding: 8px; }
/* tr { background-color: white; } */

table.bordered    { border: solid; border-width: thin; }
table.bordered td { border: solid; border-width: thin; }
table.bordered th { border: solid; border-width: thin; border-color: black; }
.alt {
    background-color: #D7DEFE;
}

.antispam { display:none;}
